.project-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding: 4rem 1rem;
  background-color: rgba(10, 11, 11, 0.742);
}

.project-card {
  background-color: rgba(31, 35, 40, 0.735);
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-heading {
  padding: 3rem;
}

.image {
  width: 100%;
  height: 500px; /* Example fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.work-image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; Ensures the image covers the container */
  object-position: center;
}

.project-title {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
}

.project-details {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding-bottom: 2rem;
}

@media screen and (max-width: 640px) {
  .project-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
  }
}
